In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import env

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    '''
    connect to sqlpro using info from a env file
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
def wrangle_telco():
    '''
    Get telco data for exersizes
    
    '''
    
    sql_statement = ''' select customer_id, monthly_charges, tenure, total_charges
                        from customers
                        where contract_type_id = 3'''

    database = "telco_churn"

    df = pd.read_sql(sql_statement, get_connection(database))

    df = df.dropna()
    
    return df

In [3]:
df = wrangle_telco()

In [4]:
df.head()

  customer_id  monthly_charges  tenure total_charges
0  0013-SMEOE           109.70      71       7904.25
1  0014-BMAQU            84.65      63        5377.8
2  0016-QLJIS            90.45      65        5957.9
3  0017-DINOC            45.20      54       2460.55
4  0017-IUDMW           116.80      72       8456.75